@media (max-width: 1000px) {
  .cities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
  }

}

@media (min-width: 1000px) {
  .cities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;

    h2{
      text-align: center;
      margin-top: 0;
    }
  }
}
