@media (max-width: 1000px) {
  .cities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  h2 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 1000px) {
  .cities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
  }
}
